@using MentorIdentity2.ViewModel

@model LoginViewModel
@{

}
<form method="post">
    <label></label>
    <input name="Email"/>
    
    <label></label>
    <input name="Password"/>
    
    <label></label>
    <input name="RememberMe"/>

    <input type="submit" value="Enter"/>
</form>