@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using MentorIdentity2.ViewModel

@model LoginViewModel
@{

}
<form asp-action="Login" method="post">
    <div>
        <label>Email</label>
        <input name="Email" />
    </div>

    <div>
        <label>Password</label>
        <input name="Password" />
    </div>

    <div>
        <label>Remmber me?</label>
        <input name="RememberMe" type="checkbox" />
    </div>

    <button type="submit" class="btn btn-primary"> Login </button>
</form>